TIMEZONE=America/Bogota
LOG_LEVEL=info
DB_POOL_SIE=10
DB_URL=postgresql+psycopg://<user>:<password>d@localhost/telemetry?application_name=telemetry-api&connect_timeout=25
MIGRATION_URL=postgresql+psycopg://<migration-user>:<password>@localhost/telemetry?application_name=alembic&connect_timeout=15&options=-c%20role%3Dtelemetry_owner%20-c%20timezone%3DUTC
SECRET_KEY=super_secret_key
RELOAD=True
